@import "../../../style/constants";


.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
.view-btn {
  background-color: white;
  color: $themeColorBlue;
  border: 2px solid $themeColorLightBlue;
  font-family: 'Comfortaa', cursive;
}

.view-btn:hover {
  background-color: $themeColorLightBlue;
  color: white;
}