@import "../../style/constants";

.main-container{
  margin: 0 auto 70px auto;
  width: 50%;
}

.page-pag-div ul{
  justify-content: center;
  margin: 100px 0;
  display: flex;
}

.page-pag a, .page-pag li {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid $themeColorLightBlue;
  border-radius: 4px;
  color: $themeColorLightBlue;
}
.page-pag a:hover{
  cursor: pointer;
  background-color: $themeColorLightBlue;
  color: $themeColorWhite;
}
.page-active a {
  background-color: $themeColorRed;
  color: $themeColorWhite;
  border:  1px solid $themeColorRed;
}
.page-active a:hover {
  cursor: pointer;
  background-color: $themeColorLightBlue;
  color: $themeColorWhite;
  border:  1px solid $themeColorLightBlue;
}

@media (max-width: 520px) {
  .main-container{
    margin: 0 auto 70px auto;
    width: 90%;
  }
  .page-pag a, .page-pag li {
    margin: 0 3px;
    padding: 5px 5px;
  }
  .page-pag-div ul{

  }

}
