@import "../../style/constants";


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2, h3, a {
    color: #34495e;
}

a {
  text-decoration: none;
}
.toggle{
  display: none;
}

.icon{
  height: 30px;
  margin: 0 0 -5px 15%;
}
.logo {
  color: $themeColorRed;
  margin: 0;
  font-size: 1.45em;
}


.main-nav {
  margin-top: 5px;
}

.logo,
.main-nav a {
  color: $themeColorBlue;
  font-size: .99em;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
.logo{
   font-size: 1.5em;
  font-weight: bold;
 }

a.active{
  font-size: 1em;
  color: $themeColorRed;
  border-bottom: 2px $themeColorRed solid;


}


.main-nav a:hover {
  color: #718daa;
}



header {
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #a2a2a2;
  background-color: $themeColorWhite;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius:   5px;
  border-radius: 5px;
}


/* =================================
  Media Queries
==================================== */




@media (min-width: 420px) {
  .header,
  .main-nav {
    display: flex;
  }
  .main-nav a {
    display: block;
  }
  .header, .logo {
    flex-direction: column;
    align-items: center;
  }
  .icon{
    display: none;
  }



}

@media (min-width: 625px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

}