@import "../../../style/constants";


li.post{
  margin: 50px 0;
}

.post:not(:last-child):after{
  content: '';
  height: 1px;
  width: 50%;
  position: absolute;
  margin-top: 25px;
  background-color: $themeColorGrey;
  border-radius: 2px;
}

.page-title{
  font-family: 'Maven Pro', sans-serif;
}
.post-title {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.2em;
}
.post-desc{
  font-family: 'Comfortaa', cursive;
  color: $themeColorGrey;

}
.float-right{
  float: right;

}
.centered{
  text-align: center;
}


@media (max-width: 520px) {
  .post:not(:last-child):after{
    width: 90%;
  }
}