@import "../../style/constants";


footer{
  height: 35px;
  width: 100%;
  background-color: $themeColorWhite;
  position: fixed;
  bottom: 0;
  border: 1px solid #a2a2a2;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius:   5px;
  border-radius: 5px;
}

.foot-nav{
  display: flex;
  justify-content: center;
}
.foot-nav li a{
  color: $themeColorLightBlue ;
  font-size: 1em;
  padding: 10px 20px;
  text-transform: uppercase;
  flex-direction: column;
}


@media (min-width: 625px) {
  footer{
    height: 50px;
  }
  .foot-nav li {
    font-size: 1.2em;
    padding: 10px 2%;

  }
  .foot-nav{
    justify-content: center;
  }

}