body {
  margin: 0 ;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/icons/1231313.jpeg");
  background-repeat: repeat-y ;
  background-size: 200px;
}
a{
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}


@media (max-width: 855px) {
  body{
    background-size: 100px;
  }
}
@media (max-width: 520px) {
  body{
    background: none;
  }
}